COES.MVC.Extranet/Service References/UserServicio/UserServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.coes.org.pe" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.coes.org.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.org.pe/Imports">
      <xsd:import schemaLocation="http://sgocoes/wsCOESGeneral/UserServicio.svc?xsd=xsd0" namespace="www.coes.org.pe" />
      <xsd:import schemaLocation="http://sgocoes/wsCOESGeneral/UserServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sgocoes/wsCOESGeneral/UserServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Aplicacion.General.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServicio_ListarTodosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarTodosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarUsuariosxArea_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosxArea" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarUsuariosxArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosxAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarUsuariosxCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosxCompania" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarUsuariosxCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosxCompaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarUsuariosxNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosxNombre" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_ListarUsuariosxNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosxNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_TraerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_TraerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_TraerUsuarioxLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerUsuarioxLogin" />
  </wsdl:message>
  <wsdl:message name="IUserServicio_TraerUsuarioxLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerUsuarioxLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServicio">
    <wsdl:operation name="ListarTodosUsuarios">
      <wsdl:input wsaw:Action="www.coes.org.pe/IUserServicio/ListarTodosUsuarios" message="tns:IUserServicio_ListarTodosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IUserServicio/ListarTodosUsuariosResponse" message="tns:IUserServicio_ListarTodosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosxArea">
      <wsdl:input wsaw:Action="www.coes.org.pe/IUserServicio/ListarUsuariosxArea" message="tns:IUserServicio_ListarUsuariosxArea_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IUserServicio/ListarUsuariosxAreaResponse" message="tns:IUserServicio_ListarUsuariosxArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosxCompania">
      <wsdl:input wsaw:Action="www.coes.org.pe/IUserServicio/ListarUsuariosxCompania" message="tns:IUserServicio_ListarUsuariosxCompania_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IUserServicio/ListarUsuariosxCompaniaResponse" message="tns:IUserServicio_ListarUsuariosxCompania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosxNombre">
      <wsdl:input wsaw:Action="www.coes.org.pe/IUserServicio/ListarUsuariosxNombre" message="tns:IUserServicio_ListarUsuariosxNombre_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IUserServicio/ListarUsuariosxNombreResponse" message="tns:IUserServicio_ListarUsuariosxNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuario">
      <wsdl:input wsaw:Action="www.coes.org.pe/IUserServicio/TraerUsuario" message="tns:IUserServicio_TraerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IUserServicio/TraerUsuarioResponse" message="tns:IUserServicio_TraerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerUsuarioxLogin">
      <wsdl:input wsaw:Action="www.coes.org.pe/IUserServicio/TraerUsuarioxLogin" message="tns:IUserServicio_TraerUsuarioxLogin_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.org.pe/IUserServicio/TraerUsuarioxLoginResponse" message="tns:IUserServicio_TraerUsuarioxLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>