COES.MVC.Extranet/Service References/UserServicio/UserServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/COES.Aplicacion.General.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/COES.Aplicacion.General.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREACODE" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="AREALABORAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPRESAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LASTUSER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVOCONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCARGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCHECK" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USERCODE" type="xs:short" />
      <xs:element minOccurs="0" name="USERCONN" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="USERCORREO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERFACTIVACION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USERFBAJA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USERFCREACION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USERLOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMAXCONN" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERPASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERSTATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERTLF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERVALIDATE" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
</xs:schema>