COES.MVC.Extranet/Service References/SeguridadServicio/SeguridadServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.coes.com.pe" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.coes.com.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.coes.com.pe/Imports">
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridadTest/SeguridadServicio.svc?xsd=xsd0" namespace="www.coes.com.pe" />
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridadTest/SeguridadServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridadTest/SeguridadServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/COES.Aplicacion.DTO.Seguridad" />
      <xsd:import schemaLocation="http://www.coes.org.pe/wsSeguridadTest/SeguridadServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridadServicio_GrabarPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarPermisos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPermisos" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarPermisos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPermisosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarWebApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarWebApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarWebApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarWebAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarWebApp_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarWebApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarWebApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarWebAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerWebApp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerWebApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerWebApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerWebAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarWebApps_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarWebApps" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarWebApps_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarWebAppsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRoles" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRoles" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListaOpcionesPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaOpcionesPorRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListaOpcionesPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaOpcionesPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRolPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerRolPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRolPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreas" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAreasResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_BuscarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_RecuperarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarClave" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_RecuperarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarExistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExistencia" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarExistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_CambiarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_CambiarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DarDeBajaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DarDeBajaUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DarDeBajaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DarDeBajaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuariosPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosPorRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuariosPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuarioAD_InputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioAD" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_AutentificarUsuarioAD_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioADResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuarioPorLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorLogin" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerUsuarioPorLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EliminarOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorSistema" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorPadre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorPadre" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionPorPadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionPorPadreResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarNodoOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarNodoOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ActualizarNodoOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarNodoOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNroItemPorPadre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNroItemPorPadre" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNroItemPorPadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNroItemPorPadreResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarOpcionesNodoSeleccionado_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOpcionesNodoSeleccionado" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarOpcionesNodoSeleccionado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOpcionesNodoSeleccionadoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionesPorAplicacionRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerOpcionesPorAplicacionRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNodosPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNodosPorRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerNodosPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNodosPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerarAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerarAreas" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerarAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerarAreasResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerAreasCOES_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasCOES" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerAreasCOES_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAreasCOESResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresas" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ListarEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresa" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarAccesoOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAccesoOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarAccesoOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAccesoOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarPermisoOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPermisoOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ValidarPermisoOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPermisoOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermisosPorOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermisosPorOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPermisosPorOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPermisosPorOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPersmisosRolOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersmisosRolOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerPersmisosRolOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPersmisosRolOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EncriptarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EncriptarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_EncriptarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncriptarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DesencriptarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DesencriptarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_DesencriptarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesencriptarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarEstadistica_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarEstadistica" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_GrabarEstadistica_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarEstadisticaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorOpcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorSistema" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEstadisticaPorSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticaPorSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresasPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresasPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadServicio_ObtenerEmpresasPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresasPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadServicio">
    <wsdl:operation name="GrabarPermiso">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarPermiso" message="tns:ISeguridadServicio_GrabarPermiso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarPermisoResponse" message="tns:ISeguridadServicio_GrabarPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPermiso">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarPermiso" message="tns:ISeguridadServicio_EliminarPermiso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarPermisoResponse" message="tns:ISeguridadServicio_EliminarPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermiso">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermiso" message="tns:ISeguridadServicio_ObtenerPermiso_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermisoResponse" message="tns:ISeguridadServicio_ObtenerPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPermisos">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarPermisos" message="tns:ISeguridadServicio_ListarPermisos_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarPermisosResponse" message="tns:ISeguridadServicio_ListarPermisos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarWebApp">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarWebApp" message="tns:ISeguridadServicio_GrabarWebApp_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarWebAppResponse" message="tns:ISeguridadServicio_GrabarWebApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarWebApp">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarWebApp" message="tns:ISeguridadServicio_EliminarWebApp_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarWebAppResponse" message="tns:ISeguridadServicio_EliminarWebApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerWebApp">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerWebApp" message="tns:ISeguridadServicio_ObtenerWebApp_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerWebAppResponse" message="tns:ISeguridadServicio_ObtenerWebApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarWebApps">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarWebApps" message="tns:ISeguridadServicio_ListarWebApps_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarWebAppsResponse" message="tns:ISeguridadServicio_ListarWebApps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarRol" message="tns:ISeguridadServicio_GrabarRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarRolResponse" message="tns:ISeguridadServicio_GrabarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarRol" message="tns:ISeguridadServicio_EliminarRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarRolResponse" message="tns:ISeguridadServicio_EliminarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRol" message="tns:ISeguridadServicio_ObtenerRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolResponse" message="tns:ISeguridadServicio_ObtenerRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRoles">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarRoles" message="tns:ISeguridadServicio_BuscarRoles_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarRolesResponse" message="tns:ISeguridadServicio_BuscarRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRoles">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarRoles" message="tns:ISeguridadServicio_ListarRoles_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarRolesResponse" message="tns:ISeguridadServicio_ListarRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaOpcionesPorRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListaOpcionesPorRol" message="tns:ISeguridadServicio_ListaOpcionesPorRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListaOpcionesPorRolResponse" message="tns:ISeguridadServicio_ListaOpcionesPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRolPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolPorUsuario" message="tns:ISeguridadServicio_ObtenerRolPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerRolPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerRolPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAreas">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarAreas" message="tns:ISeguridadServicio_ListarAreas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarAreasResponse" message="tns:ISeguridadServicio_ListarAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarUsuario" message="tns:ISeguridadServicio_GrabarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarUsuarioResponse" message="tns:ISeguridadServicio_GrabarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarUsuario" message="tns:ISeguridadServicio_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarUsuarioResponse" message="tns:ISeguridadServicio_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuario" message="tns:ISeguridadServicio_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioResponse" message="tns:ISeguridadServicio_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarios">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarUsuarios" message="tns:ISeguridadServicio_BuscarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/BuscarUsuariosResponse" message="tns:ISeguridadServicio_BuscarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuarios" message="tns:ISeguridadServicio_ListarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarUsuariosResponse" message="tns:ISeguridadServicio_ListarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutentificarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuario" message="tns:ISeguridadServicio_AutentificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioResponse" message="tns:ISeguridadServicio_AutentificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarClave">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/RecuperarClave" message="tns:ISeguridadServicio_RecuperarClave_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/RecuperarClaveResponse" message="tns:ISeguridadServicio_RecuperarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarExistencia">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarExistencia" message="tns:ISeguridadServicio_ValidarExistencia_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarExistenciaResponse" message="tns:ISeguridadServicio_ValidarExistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/CambiarClave" message="tns:ISeguridadServicio_CambiarClave_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/CambiarClaveResponse" message="tns:ISeguridadServicio_CambiarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DarDeBajaUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/DarDeBajaUsuario" message="tns:ISeguridadServicio_DarDeBajaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/DarDeBajaUsuarioResponse" message="tns:ISeguridadServicio_DarDeBajaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosPorRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuariosPorRol" message="tns:ISeguridadServicio_ObtenerUsuariosPorRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuariosPorRolResponse" message="tns:ISeguridadServicio_ObtenerUsuariosPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutentificarUsuarioAD">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioAD" message="tns:ISeguridadServicio_AutentificarUsuarioAD_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/AutentificarUsuarioADResponse" message="tns:ISeguridadServicio_AutentificarUsuarioAD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorLogin">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioPorLogin" message="tns:ISeguridadServicio_ObtenerUsuarioPorLogin_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerUsuarioPorLoginResponse" message="tns:ISeguridadServicio_ObtenerUsuarioPorLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarOpcion" message="tns:ISeguridadServicio_GrabarOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarOpcionResponse" message="tns:ISeguridadServicio_GrabarOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarOpcion" message="tns:ISeguridadServicio_EliminarOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EliminarOpcionResponse" message="tns:ISeguridadServicio_EliminarOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcion" message="tns:ISeguridadServicio_ObtenerOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionResponse" message="tns:ISeguridadServicio_ObtenerOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorSistema">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorSistema" message="tns:ISeguridadServicio_ObtenerOpcionPorSistema_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorSistemaResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuario" message="tns:ISeguridadServicio_ObtenerOpcionPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionPorPadre">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorPadre" message="tns:ISeguridadServicio_ObtenerOpcionPorPadre_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionPorPadreResponse" message="tns:ISeguridadServicio_ObtenerOpcionPorPadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarNodoOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarNodoOpcion" message="tns:ISeguridadServicio_ActualizarNodoOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ActualizarNodoOpcionResponse" message="tns:ISeguridadServicio_ActualizarNodoOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNroItemPorPadre">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNroItemPorPadre" message="tns:ISeguridadServicio_ObtenerNroItemPorPadre_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNroItemPorPadreResponse" message="tns:ISeguridadServicio_ObtenerNroItemPorPadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOpcionesNodoSeleccionado">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarOpcionesNodoSeleccionado" message="tns:ISeguridadServicio_ListarOpcionesNodoSeleccionado_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarOpcionesNodoSeleccionadoResponse" message="tns:ISeguridadServicio_ListarOpcionesNodoSeleccionado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOpcionesPorAplicacionRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionesPorAplicacionRol" message="tns:ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerOpcionesPorAplicacionRolResponse" message="tns:ISeguridadServicio_ObtenerOpcionesPorAplicacionRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNodosPorRol">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNodosPorRol" message="tns:ISeguridadServicio_ObtenerNodosPorRol_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerNodosPorRolResponse" message="tns:ISeguridadServicio_ObtenerNodosPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerarAreas">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerarAreas" message="tns:ISeguridadServicio_ObtenerarAreas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerarAreasResponse" message="tns:ISeguridadServicio_ObtenerarAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAreasCOES">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerAreasCOES" message="tns:ISeguridadServicio_ObtenerAreasCOES_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerAreasCOESResponse" message="tns:ISeguridadServicio_ObtenerAreasCOES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresas">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarEmpresas" message="tns:ISeguridadServicio_ListarEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ListarEmpresasResponse" message="tns:ISeguridadServicio_ListarEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresa" message="tns:ISeguridadServicio_ObtenerEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresaResponse" message="tns:ISeguridadServicio_ObtenerEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAccesoOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarAccesoOpcion" message="tns:ISeguridadServicio_ValidarAccesoOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarAccesoOpcionResponse" message="tns:ISeguridadServicio_ValidarAccesoOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarPermisoOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarPermisoOpcion" message="tns:ISeguridadServicio_ValidarPermisoOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ValidarPermisoOpcionResponse" message="tns:ISeguridadServicio_ValidarPermisoOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPermisosPorOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermisosPorOpcion" message="tns:ISeguridadServicio_ObtenerPermisosPorOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPermisosPorOpcionResponse" message="tns:ISeguridadServicio_ObtenerPermisosPorOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPersmisosRolOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPersmisosRolOpcion" message="tns:ISeguridadServicio_ObtenerPersmisosRolOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerPersmisosRolOpcionResponse" message="tns:ISeguridadServicio_ObtenerPersmisosRolOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncriptarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/EncriptarUsuario" message="tns:ISeguridadServicio_EncriptarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/EncriptarUsuarioResponse" message="tns:ISeguridadServicio_EncriptarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesencriptarUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/DesencriptarUsuario" message="tns:ISeguridadServicio_DesencriptarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/DesencriptarUsuarioResponse" message="tns:ISeguridadServicio_DesencriptarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarEstadistica">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarEstadistica" message="tns:ISeguridadServicio_GrabarEstadistica_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/GrabarEstadisticaResponse" message="tns:ISeguridadServicio_GrabarEstadistica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticaPorOpcion">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorOpcion" message="tns:ISeguridadServicio_ObtenerEstadisticaPorOpcion_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorOpcionResponse" message="tns:ISeguridadServicio_ObtenerEstadisticaPorOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticaPorSistema">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorSistema" message="tns:ISeguridadServicio_ObtenerEstadisticaPorSistema_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEstadisticaPorSistemaResponse" message="tns:ISeguridadServicio_ObtenerEstadisticaPorSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresasPorUsuario">
      <wsdl:input wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresasPorUsuario" message="tns:ISeguridadServicio_ObtenerEmpresasPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="www.coes.com.pe/ISeguridadServicio/ObtenerEmpresasPorUsuarioResponse" message="tns:ISeguridadServicio_ObtenerEmpresasPorUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>